// Full space top index block
#index-full-box {
  position: relative;
  float: none;
  width: 100%;
  height: 100vh;
  margin: 0px;
  top: 0px;
  left: 0px;

  #video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
    }
  }
  a {
    color: $gruello;
  }
}

#index-title {
  @include centering(50%, 50%);
  overflow: visible;

  h1 {
    color: $gruello;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 100;
    text-transform: uppercase;
    overflow: visible;
  }
  span:last-child {
    margin-left: 90px;
  }
}
#o-line {
  overflow: visible;
  // &:before {
  //   display: block;
  //   @include centering(50%, 50%);
  //   content: "";
  //   width: 100%;
  //   height: 1px;
  //   top: 0px;
  //   left: 0px;
  //   margin: auto;
  //   transform: rotate(-90deg);
  //   background: red;
  //   z-index: 200;
  // }
}

// Top arrow down
#index-arrow-down {
  position: absolute;
  float: none;
  width: 100%;
  left: 0px;
  bottom: 1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;

  animation: 0.5s linear 0s infinite alternate arrow_animate;

  a {
    color: $gruello;
  }
}
@keyframes arrow_animate {
  from {
    bottom: 1rem;
  }
  to {
    bottom: 0.5rem;
  }
}

// Services
#index-services-title {
  padding-top: 40px;
  text-align: center;
}
.services-container {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
	position: relative;
	background-color: $smoky-black;
	border-radius: 3px;
	box-shadow: 5px 8.7px 22px rgba(64,69,73,0.4);
	transition: max-width .7s ease-out, height .4s ease-out;

  h3 {
  }
}
.right-sec {
  position: absolute; 
  height: 100%;
  right: 0px;
}
.left-sec {
  position: absolute;
  height: 100%;
  left: 0px;
}
.right-vid-sec {
  float:right;
  margin-right:0px;
}
.column.nopadding {
  padding-left: 0;
  padding-right: 0;
}