#stuff-title {
	padding-bottom: 1rem;
}
#stuff-title-text {
	display: none;
}
.title-mobiles {
	* {
		display: block;
		position: relative;
		float: none;
		width: 100%;
		text-align: center;
		color: $smoky-black;
	}
}