// Styles for stuff pages
#stuff-title {
	padding-bottom: 1rem;
}
#stuff-title-text {
	display: none;
	h2 {
		margin: 0px;
		padding: 0px;
		line-height: normal;
		font-weight: 500;
	}
}
.title-mobiles {
	* {
		display: block;
		position: relative;
		float: none;
		width: 100%;
		text-align: center;
		color: $smoky-black;
	}
}
.lighter {
	color: $dark-liver;
}
#stuff-app-view-body {
	
}
.tabs, .tabs-content {
	border: none;
}
.tabs-title > a {
	padding: 0.8rem 1.15rem;
	color: $gruello;
}
.tabs-title > a:hover {
	color: $gruello;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
	color: $smoky-black;
	border-bottom: 2px solid $smoky-black;
	background: none;
}
.tabs-title > a[aria-selected='true'] {
	color: $smoky-black;
}