// School
#index-school-box {
  position: relative;
  background: $smoky-black;
  img {
    display: block;
  }
  .marketing-site-content-section-block {
    @media screen and (min-width: 40em) {
      flex: 1 0 30%;
      padding: 5rem;
    }
  }
}
.centered-content {
  @include centering(50%, 50%);
}

// Cards
.marketing-site-content-section {
  display: flex;
  flex-wrap: wrap;
  .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .marketing-site-content-section-img {
    align-self: center;
    flex: 1 0 100%;
    img {
      width: 100%;
    }
    @media screen and (min-width: 40em) {
      flex: 1 0 50%;
    }
  }
  .marketing-site-content-section-block {
    padding: 3rem;
    flex: 1 0 100%;
    align-self: stretch;
    background: $smoky-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (min-width: 40em) {
      flex: 1 0 40%;
      padding: 5rem;
    }
  }
}
.marketing-site-content-section-block-header, .marketing-site-content-section-block-subheader {
  color: $pastel-brown;
  width: 100%;
  text-align: center;
}
.marketing-site-content-section-block-header {
  font-size: 1.6rem;
}
.marketing-site-content-section-block-subheader {
  font-size: 1.1rem;
}