// Fixed side panels
.side-panel {
  display: block;
  position: fixed;
  float: none;
  height: 100vh;
  top: 0px;
  padding: 1rem;
  text-align: center;
  z-index: 100;
  .menu > li > a {
    margin: 0rem;
    padding: 0rem;
  }
  li {
    margin-top: 0.7rem;
  }
  li:first-child {
    margin-top: 0rem;
  }
}

// Left panel
.left-side {
  float: left;
  left: 0px;
}

// Right panel
.right-side {
  float: right;
  right: 0px;
  a:hover {
    color: $gruello;
  }
}
#service-side-title {
  position: fixed;
  float: none;
  left: 0px;
  bottom: 1rem;
  transform: rotate(-90deg);
  transform-origin: 1rem 0;

  &::after {
    position: relative;
    top: -5px;
    content: "";
    display: inline-block;
    width: 70px;
    height: 1px;
    background: $pastel-brown;
    margin-left: 15px;
  }

  span {
    display: inline;
    color: $pastel-brown;
  }
}

// Drilldown
.js-drilldown-back {
  a {
    color: green;
  }
  background: black;
}

// 0.7rem margin