/* Small only */
@media screen and (max-width: 39.9375em) {
	// #service-side-title {
	// 	display: none;
	// }
}

/* Medium and up */
@media screen and (min-width: 40em) {
	// #service-side-title {
	// 	display: block;
	// }
	.header-info-title {
		a {
			float: left;
		}
	}
	.header-info-tel {
		a {
			display: block;
			float: right;
		}
	}
	#stuff-title-text {
		display: block;
	}
}