/* Small only */
@media screen and (max-width: 39.9375em) {
	#index-title {
		h1 {
			font-size: 3rem;
		}
		span:last-child {
			margin-left: 50px;
		}
	}
	#service-side-title {
		display: none;
	}
	.auto-fill-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 5rem;
		grid-gap: 0.1rem;
	}
	.contact-us-list {
		i {
			margin-right: 0.2rem;
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	#service-side-title {
		display: block;
	}
	.header-info-title {
		a {
			float: left;
		}
	}
	.header-info-tel {
		a {
			display: block;
			float: right;
		}
	}
	#stuff-title-text {
		display: block;
	}
}