/* Google fonts */
// Main title font font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

// Default font font-family: 'Comfortaa', cursive;
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/* Icons */
@font-face {
  font-family: 'yesprod';
  src:
    url('fonts/yesprod.ttf?8hoem6') format('truetype'),
    url('fonts/yesprod.woff?8hoem6') format('woff'),
    url('fonts/yesprod.svg?8hoem6#yesprod') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yesprod' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-two-fingers-rotate:before {
  content: "\e911";
}
.icon-video:before {
  content: "\e900";
}
.icon-movie:before {
  content: "\e900";
}
.icon-film:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e901";
}
.icon-photo:before {
  content: "\e901";
}
.icon-picture:before {
  content: "\e901";
}
.icon-image:before {
  content: "\e901";
}
.icon-library:before {
  content: "\e902";
}
.icon-university:before {
  content: "\e902";
}
.icon-chevron-thin-right:before {
  content: "\e90e";
}
.icon-chevron-thin-left:before {
  content: "\e90f";
}
.icon-cross:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e90b";
}
.icon-location-pin:before {
  content: "\e90c";
}
.icon-chevron-thin-down:before {
  content: "\e903";
}
.icon-instagram-with-circle:before {
  content: "\e904";
}
.icon-youtube-with-circle:before {
  content: "\e905";
}
.icon-facebook-with-circle:before {
  content: "\e906";
}
.icon-vk-with-circle:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-camera2:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}

[class^="icon-"] {
  font-size: 1.5rem;
  color: $pastel-brown;
}

body {
  font-family: 'Comfortaa', cursive;
}