// Default colors
$smoky-black: rgba(12, 12, 12, 1);

$dark-scarlet: rgba(85, 12, 24, 1);
$old-burgundy: rgba(68, 55, 48, 1);
$pastel-brown: rgba(120, 100, 82, 1);
$gruello: rgba(165, 144, 126, 1);
$pale-pink: rgba(247, 218, 217, 1);

$cyan-blue-azure: rgba(67, 129, 193, 1);
$maximum-blue-purple: rgba(189, 173, 234, 1);
$lilac: rgba(190, 162, 194, 1);
$burnished-brown: rgba(163, 120, 113, 1);
$dark-liver: rgba(78, 75, 92, 1);

// Block padding
$block-padding: 1rem;
$sub-block-padding: 0.5rem;

// Path
// $fonts-path: "./fonts/";