@font-face {
  font-family: 'lightcase';
  src:
    url('#{map-get($lightcase-settings, font-path)}yesprod.ttf?f9qh51') format('truetype'),
    url('#{map-get($lightcase-settings, font-path)}yesprod.woff?f9qh51') format('woff'),
    url('#{map-get($lightcase-settings, font-path)}yesprod.svg?f9qh51#yesprod') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='lightcase-icon-']:before {
  font-family: 'lightcase', sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}

/* Codes */
// .lightcase-icon-play:before { content: '\e800'; }
// .lightcase-icon-pause:before { content: '\e801'; }
.lightcase-icon-close:before { content: "\e910"; }
.lightcase-icon-prev:before { content: "\e90f"; }
.lightcase-icon-next:before { content: "\e90e"; }
// .lightcase-icon-spin:before { content: '\e805'; }