#footer {
  padding: $block-padding;
  color: $pastel-brown;
  text-align: center;
  background: $smoky-black;
  a {
    color: $pastel-brown;
  }
}
#footer-copyright {
  b {
    position: absolute;
    color: $dark-scarlet;
    animation: 0.5s linear 0s infinite pulsate_heart;
  }
  a {
    margin-left: 11px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

@keyframes pulsate_heart {
  from {
    font-size: 13px;
  }
  to {
    font-size: 15px;
  }
}